body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1000px;
}
a {
  color: #00b7ff;
}
.floatLeft {
  float: left;
}
.floatRight {
  margin-left: 30px;
  float: right;
}
.clear {
  clear: both;
}
.noBullets {
  list-style-type: none;
}
