mixin printList(obj)
    each item in obj.items
        
        if item.type == 0
            li= item.name
            ul
                +printList(item)
        else
            li
                a(href='#{item.url}')= item.name
        

extends layout

block content
    ul
        +printList(content)