mixin printList(obj)
    each item in obj.items
        
        if item.type == 0
            li.noBullets
                div.floatLeft !{item.name}
                    div.floatRight
                        a(href='#{item.seen}')= 'Seen'
                div.clear
            ul
                +printList(item) 
        else
            li.noBullets
                div.floatLeft
                    a(href='#{item.url}')= item.name 
                    div.floatRight
                        a(href='#{item.seen}')= 'Seen'
                div.clear
        

extends layout

block content
    ul
        +printList(content)