doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/tm.css')
    <link rel="stylesheet" href="/stylesheets/tm.css" type="text/css"/>
    <script src="/javascripts/tm.js" type="text/javascript"/>
    script(src='/javascripts/tm.js')
  body
    block content